* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", Arial, sans-serif;
  background-color: #e3e7ed;
  display: grid;
  place-items: center;
  padding: 20px 0;
}

.card {
  width: 80vw;
  max-width: 1200px;
  background-color: #e3e7ed;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card_header {
  width: 100%;
  padding: 30px;
  background-color: #362d5a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card_header h1 {
  font-weight: lighter;
}

.card_header p {
  font-size: 13px;
  opacity: 0.9;
  color: #fff;
  user-select: none;
  font-weight: lighter;
}

.card_header p strong {
  font-weight: bold;
  color: #f79207;
}

.card_content {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
}

.form {
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.form_header {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid #e3e7ed;
}

.form_header h2 {
  font-weight: normal;
  color: rgb(52, 52, 52);
}

.form_content {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file_upload_container {
  width: 100%;
  border: 2px dashed #c4c4c4;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  user-select: none;
}

.file_upload_container:hover {
  border-color: #888;
}

.file_upload_container p {
  font-size: 14px;
  color: #362d5a;
}

.form_textarea_text {
  color: #888;
  font-size: 15px;
}

.form_textarea {
  width: 100%;
  height: 150px;
  min-height: 150px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  outline: none;
}

.form_textarea:focus {
  border-color: #362d5a;
}

.form_button {
  margin-left: auto;
  padding: 15px 70px;
  background-color: #362d5a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.result {
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.result_header {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid #e3e7ed;
}

.result_header h2 {
  font-weight: normal;
  color: rgb(52, 52, 52);
}

.result_waiting {
  padding: 20px 30px;
  text-align: center;
  color: #888;
  user-select: none;
  font-size: 16px;
}

.result_sent {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}

.result_classification {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e7ed;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result_classification h3 {
  font-size: 14px;
}

#productive {
  font-size: 16px;
  padding: 8px 30px;
  background-color: #cdeede;
  border-radius: 4px;
  margin-right: auto;
  display: none;
}

#improductive {
  font-size: 16px;
  padding: 8px 30px;
  background-color: #f7caca;
  border-radius: 4px;
  margin-right: auto;
  display: none;
}

.result_reply {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result_textarea {
  width: 100%;
  height: 150px;
  min-height: 150px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  outline: none;
}

.result_textarea:focus {
  border-color: #362d5a;
}

.result_copy {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #e3e7ed;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 1280px) {
  .card_content {
    grid-template-columns: 1fr;
  }

  .card {
    width: 90vw;
  }

  .card_header h1 {
    font-size: 20px;
  }

  button {
    width: 100%;
  }
}
